<h1>Accounts</h1>
<table class="mableTable">
  <tr>
    <th style="text-align: left">Account Number</th>
    <th>Balance</th>
  </tr>
  <% @accounts.each do |account| %>
  <tr>
    <td style="text-align: left"><%= account.number %></td>
    <td><%= number_to_currency(account.balance) %></td>
  </tr>
  <% end %>
</table>